[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=keroti
Group=keroti
WorkingDirectory=/home/keroti/app/src/
Environment="PATH=/home/keroti/app/venv/bin"
EnvironmentFile=/home/keroti/.env
ExecStart=/home/keroti/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target